* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #171717;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .Comunitys {
  width: 96px;
  height: 100%;
  background-color: white;
} */